* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

html{
    height: 100%;
}

body{
    height: 100%;
    font-family: serif;

}

a{
    text-decoration: none;
    font-weight: bolder;
}

/* input [type="number"]::-webkit-outer-spin-button,
input [type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
} */

.grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns: 200px auto 300px;
    grid-template-rows: 100px 40px auto 100px;
    grid-template-areas:
        "header header header"
        "aside aside aside"
        "nav main carrito"
        "footer footer footer";
}

.header{
    grid-area: header;
    display: flex;
    align-content: center;
    align-items: center;
    font-style: bold;
    font-size: 1.5vw;
    color: rgb(242, 153, 0);
    background-color: rgb(43, 78, 47);
    padding: 20PX;

}

.logo{
    height: 80px;
    padding-right: 20px;
}

.nav{
    display: flex;
    flex-direction: column;
    grid-area: nav;
    background-color:  rgb(169, 128, 57);
    padding: 20px;
    justify-content: space-around;
}

.carrito{
    display: flex;
    grid-area: carrito;
    background-color: rgb(238, 199, 132);
    padding: 20px;
    
}

.compras {
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
    align-self: flex-start;
}

.main{
    grid-area: main;
    background-color: rgb(232, 216, 189);
    padding: 20px;
}

.aside{
    display: flex;
    grid-area: aside;
    background-color: rgb(221, 221, 221);
    padding: 10px;
    justify-content: space-around;
}

.asideE:visited {
    color:rgb(43, 78, 47);
}

.asideE:hover {
    font-size: 1.1em;
}

.footer{
    display: flex;
    grid-area: footer;
    background-color: darkgreen;
    padding: 20px;
    font-size: smaller;
    justify-content: center;
}

.flex {
    display: flex;
    flex-direction: row;
    width: 180px;
    justify-content: space-between;
}

.payForm {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background:rgba(5, 7, 12 ,0.2);
    
}

.element {
    align-self: center;
}

.pay {
    width: 20vw;
}

.pay:hover{
    font-size: 1.1em;
}